:root {
    --theme-color: rgb(3, 23, 100);
    --accent-color: rgb(124, 153, 179);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
}

h4, p, h2 {
    padding: 0;
    margin: 0;
}

svg {
    height: 50px;
    width: 50px;
}

.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(250px, 300px) 4fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--theme-color);
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: white;
    box-shadow: 0 0 8px 4px;
    svg {
            height: 24px;
            width: 24px;
            margin: 0 16px;
        }
    .headerline1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        padding: 0 24px;
        gap: 36px;
        .searchbar{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40%;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 16px;
        input {
            border: none;
            outline: none;
            padding: 8px;
            width: 400px;
            border-radius: 16px;
            flex: 1 0 100%;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
        .others {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        
        img {
            border-radius: 100%;
            height: 48px;
            width: 48px;
        }
        
    }
    }
    .headerline2 {
        height: 50%;
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        .greet {
            margin: 0 0;
            font-size: large;
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: center;
             img {
                height: 72px;
                width: 72px;
                border-radius: 100%;
                margin: 0 16px;
            }
            p {
                font-weight: 600;
                font-size: medium;
                color: gray;
            }
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0;
            }
         }
         .headerbuttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            button {
                border: none;
                outline: none;
                padding: 8px 16px;
                border-radius: 16px;
                background-color: var(--theme-color);
                color: white;
                font-size: medium;
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    background-color: rgb(100, 130, 160);
                }
            }
         }
    }
}


.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: white;
    padding: 0;
    margin: 0;
}

.sideitem {
    margin: 0 16px;
    text-align: left;
    color: white;
    font-size: x-large;
    padding: 8px;
    margin-left: 8px;
    display: flex;
    align-items: center;

    svg {
        margin: 0 8px;
        height: 24px;
        width: 24px;
        fill: white;
    }
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        border-radius: 8px;
    }
}

.sidebar h1 {
    font-size: xx-large;
    color: white;
    margin-left: 8px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    svg {
        margin: 0 12px;
        height: 32px;
        width: 32px;
        fill: white;
    }
}

.main {
    overflow: scroll;
    background-color: var(--accent-color);
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 36px;
}

.trending {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(autofit,1fr);
    justify-content: center;
    align-content: center;
    margin: 18px;
    h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        color: rgb(0, 0, 0);
        margin: 0;
        padding: 0 24px;
        align-self: center;
        justify-self: center;
    }
    .profile {
        box-sizing: border-box;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 300px;
        height: 75px;
        justify-self: center;
        background-color: white;
        border-top: 1px solid black;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
        &:hover {
                transform: scale(1.05);
                border-radius: 8px;
                cursor: pointer;
            }
        img {
            height: 54px;
            width: 54px;
            border-radius: 100%;
            margin: 0 16px;
        }
    }
}

.main .announcements {
    margin-top: 16px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(3,1fr);
    h2 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        color: rgb(0, 0, 0);
        margin: 12px;
        padding: 0 24px;
        align-self: center;
        justify-self: center;
    }
    .announcement {
        justify-self: center;
        &:hover {
                transform: scale(1.02);
                border-radius: 8px;
                cursor: pointer;
            }
        grid-column: 1 / 2;
        grid-row: span 1;
        padding: 12px;
        width: clamp(50px,300px,400px);
        border-bottom: 1px solid #eee;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
        background-color: white;
        &:nth-child(2) {
            border-radius: 8px 8px 0 0;
            &:hover {
                border-radius: 8px;
            };
        }
        &:last-child {
            border-bottom: none;
            border-radius: 0 0 8px 8px;
            &:hover {
                border-radius: 8px;
            };
        }
        h4 {
            margin: 0 0 8px 0;
            color: black;
            cursor: pointer;
            
        }
        p {
            margin: 0;
            color: black;
            font-size: 14px;
        }
    }
}

.projects {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    box-sizing: border-box;
    h2 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        color: rgb(0, 0, 0);
        margin: 0;
        padding: 0 24px;
        align-self: center;
    }
    .cards {
        padding: 0;
        margin: 0 0 24px 0 ;
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        .project {
            min-width: 300px;
            max-height: 300px;
            max-width: 500px;

            box-sizing: border-box;
            background-color: white;
            border: 1px solid #eee;
            border-radius: 8px;
            padding: 16px;
            margin: 16px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
            transition: box-shadow 0.2s, transform 0.2s;
            border-left: 8px solid var(--accent-color);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
                border: none;
                cursor: pointer;
                transform: translateX(8px) scale(1.02);
                font-weight: 600;
            }
            .cardicons {
                display: flex;
                justify-content: flex-end;
                gap: 16px;
            }
            svg {
                height: 24px;
                width: 24px;
                fill: var(--accent-color);
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    fill: black;
                } 
            }
        }
    }
}